.molview-page {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.button-header {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1rem;
  z-index: 9999;
  position: fixed;
  top: 10px;
  right: 160px;
}

.button-header button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  background-color: #1a1916;
  color: #fff;
  transition: opacity 0.2s;
}

.button-header button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ms-plugin {
  z-index: -1;
}

.toaster{
    z-index: 9999;
}